extends layout

block content
 .container
  h1.header URL Shortener
  blockquote 
   p: b User stories:
   p 1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
   p 2) When I visit that shortened URL, it will redirect me to my original link.
  h3 Example creation usage:
  code http://urls-shorten.herokuapp.com/new/https://google.com
  br
  code http://urls-shorten.herokuapp.com/new/https://www.google.com
  br
  h3 Example creation output:
  code { "original_url":"https://google.com", "short_url":"http://urls-shorten.herokuapp.com/3041" }
  h3 Usage:
  code http://urls-shorten.herokuapp.com/3041
  h3 Will redirect to:
  code https://google.com/
